@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .main {
    background-image: linear-gradient(105deg, #fff 45%, transparent 45%),
      url("./assets/images/background/pokemon-background-2.webp") no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
} */

@layer utilities {
  .btn {
    @apply px-4 py-1 bg-gray-700 text-white capitalize rounded-md;
  }
  .btn:disabled {
    @apply opacity-40;
  }
  .btn.disabled {
    background-color: #f5f5f5;
  }
  .scroll-effect {
    scrollbar-color: black;
  }
  .scroll-effect::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
    /* height: 10px; */
  }
  .scroll-effect::-webkit-scrollbar {
    /* visibility: hidden; */
    /* display: none; */
    height: 10px;
    background-color: #f5f5f5;
  }

  .scroll-effect::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d62929;
  }
  .close-modal {
    z-index: -10;
    visibility: hidden;
  }
  .open-modal {
    z-index: 10;
    visibility: visible;
  }
  .fix-height {
    height: 100vh;
    overflow: hidden;
  }
  .close-modal > .children {
    transform: translateY(-20px);
    opacity: 0;
  }
  .close-modal.open-modal > .children {
    opacity: 1;
    transform: translateY(0);
    transition: transform 200ms ease-in, opacity 200ms ease-in;
  }
  .active-link {
    position: relative;
  }
  .active-link::after {
    @apply bg-white/80 left-1/2 -translate-x-1/2;
    position: absolute;
    content: " ";
    bottom: 0;
    width: 50%;
    height: 2px;
  }
}
